{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 100,
  "parser": "flow",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
